NET CLK	LOC=D11;

##Switches
	NET "max_count[0]"	LOC= V5		|	IOSTANDARD=LVCMOS18;		
	NET "max_count[1]"	LOC= U4	|	IOSTANDARD=LVCMOS18;		
	NET "max_count[2]"	LOC= V3		|	IOSTANDARD=LVCMOS18;		
	NET "max_count[3]"	LOC= P4	|	IOSTANDARD=LVCMOS18;		
	NET "max_count[4]"	LOC= R4	|	IOSTANDARD=LVCMOS18;		
	NET "max_count[5]"	LOC= P6	|	IOSTANDARD=LVCMOS18;		
	NET "max_count[6]"	LOC= P5	|	IOSTANDARD=LVCMOS18;		
	NET "run"	LOC= P8	|	IOSTANDARD=LVCMOS18;	

## LEDs
	NET "digit1[0]"	LOC=W3	|	IOSTANDARD=LVCMOS18;		
	NET "digit1[1]"	LOC=Y4		|	IOSTANDARD=LVCMOS18;		
	NET "digit1[2]"	LOC=Y1		|	IOSTANDARD=LVCMOS18;		
	NET "digit1[3]"	LOC=Y3		|	IOSTANDARD=LVCMOS18;		
	NET "digit2[0]"	LOC=AB4	|	IOSTANDARD=LVCMOS18;		
	NET "digit2[1]"	LOC=W1	|	IOSTANDARD=LVCMOS18;		
	NET "digit2[2]"	LOC=AB3	|	IOSTANDARD=LVCMOS18;	
	NET "digit2[3]"	LOC=AA4	|	IOSTANDARD=LVCMOS18;		