# Pushbuttons
#NET "btn_up" LOC = E6;
#NET "btn_dwn" LOC = D5;
#NET "btn_lft" LOC = A3;
#NET "btn_rt" LOC = AB9;
#NET "btn_ctr" LOC = G6;

# 100MHz Clock
NET "clk" LOC = D11;

# LED Bank
NET "leds[0]" LOC = W3;
NET "leds[1]" LOC = Y4;
NET "leds[2]" LOC = Y1;
NET "leds[3]" LOC = Y3;
NET "leds[4]" LOC = AB4;
NET "leds[5]" LOC = W1;
NET "leds[6]" LOC = AB3;
NET "leds[7]" LOC = AA4;

# Switches
NET "switches[0]" LOC = V5;
NET "switches[1]" LOC = U4;
NET "switches[2]" LOC = V3;
NET "switches[3]" LOC = P4;
NET "switches[4]" LOC = R4;
NET "switches[5]" LOC = P6;
NET "switches[6]" LOC = P5;
#NET "switches[7]" LOC = P8;

# 7 Segment Display
NET "SEG[0]"	LOC=AA21	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63P_1,	Sch name = 7SD-AA
NET "SEG[1]"	LOC=AA22	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63N_1,	Sch name = 7SD-AB
NET "SEG[2]"	LOC=Y22	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59N_1,	Sch name = 7SD-AC
NET "SEG[3]"	LOC=N15	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L60P_1,	Sch name = 7SD-AD
NET "SEG[4]"	LOC=AB19	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L65P_1,	Sch name = 7SD-AE
NET "SEG[5]"	LOC=P20	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L64N_1,	Sch name = 7SD-AF
NET "SEG[6]"	LOC=Y21	#|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59P_1,	Sch name = 7SD-AG

NET dp	LOC=P15	|	IOSTANDARD=LVCMOS33;					#Bank = 1, pin name = IO_L62P_1,	Sch name = 7SD-DP

NET "AN[1]"	LOC = P16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L62N_1,	Sch name = 7SD-C1
NET "AN[0]"	LOC = M17		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L58N_1,	Sch name = 7SD-C2
NET "AN[3]"	LOC = N16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L60N_1,	Sch name = 7SD-C3
NET "AN[2]"	LOC = P19		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L64P_1,	Sch name = 7SD-C4
NET "AN[5]"	LOC = AA20	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61P_1,	Sch name = 7SD-C5
NET "AN[4]"	LOC = AB21	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61N_1,	Sch name = 7SD-C6
